ErrorDocument 403 /bdd/view/error.php
ErrorDocument 404 /bdd/view/error.php
ErrorDocument 405 /bdd/view/error.php
ErrorDocument 408 /bdd/view/error.php
ErrorDocument 500 /bdd/view/error.php
ErrorDocument 502 /bdd/view/error.php
ErrorDocument 504 /bdd/view/error.php

RewriteEngine On
RewriteRule ^([^_]*)_([^_]*)\.html$ /bdd/?p=$1&a=$2 [L]
RewriteRule ^([^_]*)_([^_]*)_([^_]*)\.html$ /bdd/?p=$1&a=$2&id=$3 [L]
RewriteRule ^([^_]*)_([^_]*)_([^_]*)_([^_]*)_([^_]*)\.html$ /bdd/?p=$1&a=$2&postid=$3&commentId=$4&vote=$5 [L]
